<section class="todo-list">

    <app-todo-form></app-todo-form>

            <table>
                <tbody>
                    <tr *ngFor="let todo of todoList">
                        <td class="todo" [ngClass]="{'new':todo.isNew, 'done':todo.isDone}">{{todo.todo}}</td>
                        <td>
                                <button class="btn" [ngClass]="{'clicked-btn':todo.isNew}" (click)="newTodo(todo.id)">New</button>
                                <button class="btn" [ngClass]="{'clicked-btn':todo.isDone}" (click)="doneTodo(todo.id)">Done</button>
                                <button class="btn" (click)="deleteTodo(todo.id)">Delete</button>
                        </td>
                    </tr>

                </tbody>
            </table>

</section>
