<section class="todo-list">

    <app-todo-form></app-todo-form>

            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tennivaló</td>
                        <td>
                                <button>Done</button>
                                <button>Later</button>
                                <button>Delete</button>
                        </td>
                    </tr>

                </tbody>
            </table>

</section>
