@use 'sass:color';

@use '../../../assets/mixins';
@use '../../../assets/colors';

.todo-list {
    @include mixins.setSectionCenter();

    table {
        width: 90%;
        margin: 2% auto;

        td:nth-child(1){
            width: 75%;
        }

        td:nth-child(2){
            display: flex;
            justify-content: space-evenly;
        }
    }
}

.todo {
    text-decoration: none;
    background: none;
    font-weight: 400;
    color: black;
}

.new {
    background: color.scale(colors.$orange-dark, $lightness: 80%);
    font-weight: 800;
}

.done {
    text-decoration: line-through;
    background: none;
    font-weight: 200;
    color: grey;
}