@use 'sass:color';

@use '../../../assets/mixins';
@use '../../../assets/colors';

.todo-list {
    @include mixins.setSectionCenter();

    table {
        width: 90%;
        margin: 2% auto;

        tr {
            background: color.scale(colors.$color1, $lightness: 80%);
        }

        td:nth-child(1){
            width: 75%;
        }

        td:nth-child(2){
            display: flex;
            justify-content: space-evenly;
        }
    }
}

/*button: */
.btn {
    @include mixins.setButton();
    margin: 3% auto;

    @media screen and (min-width:680px) {
        padding: 5px 15px;
    }

    &:hover {
        @include mixins.setHoverBoxShadow();
        cursor: pointer;
    }
    
    &.clicked-btn {
        opacity: 0.7;
        font-weight: 800;
    }

    &-all {
        display: block;
    }
}

/*todo's status: */
.todo {
    text-decoration: none;
    background: none;
    font-weight: 400;
    color: black;
}

.new {
    font-weight: 800;
}

.done {
    background: none;
    font-weight: 200;
    color: colors.$gray;

    &::before{
        content: "✔ ";
        color: colors.$color1;
        font-size: 1.4rem;
    }
}

