@use "../../../assets/colors";

.footer {
    margin-top:  auto !important;
    text-align: center !important;
    
    .social-icon a {
        padding: 20px;
        text-decoration: none;
        color: colors.$color1;
    }
}
