<section>
    <form *ngIf="!haveAccount" class="form" [formGroup]="signUpForm" (ngSubmit)=signUp()>
        <div class="switch-button" (click)="switchForm()">I have account!</div>
        <legend>Sign up!</legend>

        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" aria-describedby="emailHelp">
        <small *ngIf="signUpForm.get('email')?.invalid &&
                    signUpForm.get('email')?.touched" class="error">Invalid email address!</small>
        <small id="emailHelp">We'll never share your email with anyone else.</small>

        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
        <small *ngIf="signUpForm.get('password')?.invalid &&
                    signUpForm.get('password')?.touched" class="error">Invalid password! It should be at least 6 characters(only letters, numbers, ! and ?) and at most 20 characters!</small>

        <label for="repassword">Password again:</label>
        <input type="password" id="repassword" formControlName="repassword">
        <small *ngIf="signUpForm.get('repassword')?.invalid &&
                    signUpForm.get('repassword')?.touched" class="error">Invalid password! This should be the same!</small>

        <button [disabled]="signUpForm.invalid">SIGN UP</button>
        <small *ngIf="emailIsUsed">This email address is already in use! Please sign in! </small>
    </form>


    <form *ngIf="haveAccount" class="form" [formGroup]="signInForm" (ngSubmit)=signIn()>
        <div class="switch-button" (click)="switchForm()">I have no account yet!</div>
        <legend>Sign in!</legend>

        <label for="logEmail">Email:</label>
        <input type="email" id="logEmail" formControlName="logEmail">

        <label for="logPassword">Password:</label>
        <input type="password" id="logPassword" formControlName="logPassword">

        <button [disabled]="signInForm.invalid">SIGN IN</button>
        <small *ngIf="invalidLogin">Invalid email or password!</small>
        <small *ngIf="invalidLogin">If you forgot your password <span id="resetBtn" (click)="resetPassword()" >click here!</span></small>
    </form>

</section>
