@use "../../../assets/colors";
@use "../../../assets/mixins";

.form {
    @include mixins.setSectionCenter();

    label,
    input,
    small {
        display: block;
        width: 90%;
        margin: 0.5rem auto;
    }

    button {
        @include mixins.setButton();

        &:hover {
            @include mixins.setHoverBoxShadow();
        }
    }
}

.switch-button {
    float: right;
    font-size: small;
    @include mixins.setButton();

    &:hover {
        cursor: pointer;
        @include mixins.setHoverBoxShadow();
    }
}

#resetBtn {
    color: colors.$color1;
    
    &:hover {
        cursor: pointer;
        color: colors.$color3;
    }
}