@use '../assets/colors';

@mixin setHoverBoxShadow($color: colors.$color3){
    box-shadow: 0 0 8px $color, 0 0 5px $color inset;
}

@mixin setButton(){
    font-family: 'Kiwi Maru', serif;
    padding: 5px;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background: colors.$color2;
}

@mixin setSectionCenter(){
    border: 2px solid colors.$color1;
    border-radius: 5px;
    width: 95%;
    margin: 2rem auto;
    padding: 1rem;

    @media screen and (min-width:680px) {
        width: 75%;
    }
}