@use '../../../assets/mixins';

.todo-form {
    @include mixins.setSectionCenter();
    margin-top: auto;

    label,
    small {
        display: block;
    }

    input {
        display: block;
        width: 90%;
    }

    .save-btn {
        display: block;
        @include mixins.setButton();

        &:hover {
            @include mixins.setHoverBoxShadow();
        }
    }
}